<div id="container">
  <!-- Header Content -->
  <div id="header">
    <app-header
      [title]="contentTitle"
    >
    </app-header>
  </div>

  <!-- Body Content -->
  <div id="body">
    <div class="p-grid">
      <div class="p-col-12">
        <app-info></app-info>
      </div>
      <div class="p-col-3 p-lg-4">
        <app-input></app-input>
      </div>
      <div class="p-col-9 p-lg-8">
        <app-output></app-output>
      </div>
   </div>
  </div>
</div>


<!-- Footer Content -->
<div id = "footer">
  <app-footer></app-footer>
</div>
