/*
* Section 1 : Main Page Layout Settings
*/
$main-container-width: 100%;
$main-container-height: 100%;
$main-container-height-min: $main-container-height;
$header-width-max: 100%;
$body-width-max: 95%;
$footer-width-max: 100%;
$footer-margin-top: 10px;
$footer-position-bottom: 0;
$input-container-padding: 5px;
$input-params-margin-bottom: 10px;
$input-options-margin-bottom: 10px;
$output-container-padding: 5px;
